.navbar{
    height: 4vw;
    width: 100%;
    padding: 1vw;
    display: flex;
   
}
#logo{
    display: flex;
    float: right;
    margin-left: 65vw;
    margin-top: 1vw;
    height: 2vw;
    width: 2vw;
}
#logo:hover{
  height: 1.8vw;
  width: 1.8vw;
}
#logo2:hover{
  height: 1.8vw;
  width: 1.8vw;
}
#logo3:hover{
  height: 1.8vw;
  width: 1.8vw;
}
#logo2{
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 2vw;
    width: 2vw;
    margin-top: 1vw;
}
#logo3{
    display: flex;
    margin-left: 1vw;
    margin-right: 2vw;
    height: 2vw;
    width: 2vw;
    margin-top: 1vw;
}
.body img{
    height: 55vw;
    width: 100%;
    z-index: -1;
}
.body {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 2px solid red; */
   height: 60vw;
   margin-left: 4vw;
   width: 100vw;
    
}
#box1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25vw;
    width: 25vw;
    /* border: 2px solid red; */
    background-color:rgb(155, 13, 13);
    margin-left: 10vw;
   
    margin-top: -5vw;
    
}
#box1 h2
{  
    font-size: 2vw;
    font-weight: 200;
    margin-left: 3vw;
    margin-top: 5vw;
    color: white;
}
#box2 h2
{
    font-size: 2vw;
    font-weight: 200;
    margin-left: 3vw;
    margin-top: 5vw;
    color: white;
}
#box3 h2
{
    font-size: 2vw;
    font-weight: 200;
    margin-left: 3vw;
    margin-top: 5vw;
    color: white;
}
#box1 h4{
     color: white;
     font-size: 2vw;
     font-weight: 100;
     margin-top: 0vw;
     margin-left: 2vw;
}
#box2 h4{
     color: white;
     font-size: 2vw;
     font-weight: 100;

     margin-top: 0vw;
     margin-left: 2vw;
}
#box3 h4{
     color: white;
     font-size: 2vw;
     font-weight: 100;
     margin-top: 0vw;
     margin-left: 2vw;
}
#box3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 25vw;
    float: right;
    margin-right: 10vw;
    margin-top:-25.3vw;
    width: 25vw;
    /* border: 2px solid red; */
    background-color: rgb(184, 122, 41);
}
#box2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: right; 
    margin-left: 35vw;
    margin-top: -25.3vw;
    margin-right: 36vw;
    height: 25vw;
    width: 25vw;
    /* border: 2px solid red; */
    background-color: rgb(58, 198, 245);
} 
#right img{
    height: 60vw;
    width: 35vw;
    display: flex;
    float: right;
    margin-left: 60vw;
    margin-top: 7vw;
}
#left img{
    /* border: 2px solid red; */
    height: 7vw;
    width: 7vw;
    margin-left: 6vw;
    padding: 3vw;
   margin-top: 9vw;
}
#i1 h2{
    margin-top: -12vw;
    margin-left: 24vw;
}
#i1 h4{
    /* margin-top: -12vw; */
    margin-left: 24vw;
    font-weight: 100;
}
#i2 h2{
    margin-top: -12vw;
    margin-left: 24vw;
}
#i2 h4{
    /* margin-top: -12vw; */
    margin-left: 24vw;
    font-weight: 100;
}
#i3 h2{
    margin-top: -12vw;
    margin-left: 24vw;
}
#i3 h4{
    /* margin-top: -12vw; */
    margin-left: 24vw;
    font-weight: 100;
}
#right img{
       display: flex;
       /* border: 2px solid red; */
       margin-right: 0vw;
     margin-left: 70vw;
     margin-top: -50vw;
     height: 50vw;
     /* margin-top: 2vw; */
}
#d1 img{
   /* border: 2px solid red; */
   margin-top: 6vw;
   height: 49vw;
   width: 33vw;
}
#d2{
    /* border: 2px solid black; */
    height: 50vw;
    width: 34%;
    font-size: 3vw;
    margin-top: 6vw;
    
}
#d2 h2{
    margin-top: 0vw;
    margin-left: 2vw;
}
#d3{
    /* border: 2px solid red; */
    height: 30.3vw;
    width: 100%;
    
    background-color: rgb(160, 93, 6);
}
#d3 h3{
    font-size: 2vw;
    color: white;
    margin-left: 2vw;
    margin-top: 2vw;
}
#d3 h5{
    font-size: 1.7vw;
    padding: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-weight: 120;
}
#d3 button{
    border: 2px solid white;
    padding: 0px;
    height: 4vw;
    width: 9vw;
    background-color: rgb(160, 93, 6);
    color: white;
    margin-left: 2vw;
   margin-top: -2vw;
}
#d2{
    margin-left: 33vw;
    margin-top: -50vw;
}
#d4{
    /* border: 2px solid red; */
    height: 50vw;
    width: 32%;
    background-color: rgb(57, 195, 241);
    display: flex;
    float: right;
    margin-top: -50vw;
}
#d4 h3{
    color: white;
    font-size: 2.5vw;
    font-weight: 400;
    margin-left: 5vw;
    margin-top: 13vw;
}
#d4 h1{
    color: white;
    font-size: 8vw;
    font-weight: 900;
    margin-left: -17vw;
    margin-top: 18vw;
}
#d4 h4{
    color: white;
    font-size: 2vw;
    margin-left: -16vw;
    margin-top: 28vw;
    font-weight: 100;
}
.h1{
    /* border: 2px solid red; */
    height: 30vw;
    width: 100%;
    margin-top: 1vw;
}
.h1 h1{
    font-size: 7vw;
    color: rgb(19, 178, 231);
    margin-left: 4vw;
    
}
.h1 h2{
    font-size: 3vw;
    margin-top: -2vw;
    margin-left: 4vw;
}
.h1 h3{
    font-weight: 100;
    font-size: 2.5vw;
    margin-left: 4.5vw;
    margin-right: 5vw;
    
}
.happy{
    background: url(/img/woman-g36d481402_1920.jpg);
    height: 60vw;
    margin-top: 4vw;
    width: 100%;
}
.happy h3{
  
    font-size: 2vw;
    display: flex;
    float: right;
    margin-top: 30vw;
    margin-right: 5vw;
}
.happy h1{
  
    font-size: 7vw;
    font-weight: 600;
    display: flex;
    float: right;
    margin-top: 37vw;
    margin-right: -20vw;
    
}
.o2 h1{
    font-size: 7vw;
    color: rgb(19, 178, 231);
    margin-left: 4vw;
    margin-top: 7vw;
}
.o2 h2{
    font-size: 3.5vw;
    margin-left: 4vw;
    margin-top: -3vw;
}
.o2 ul li{
    font-size: 2vw;
    margin-left: 3vw;
}
#r1
{  margin-top: 5vw;
    /* border: 2px solid red; */
    height: 65vw;
    background-color: rgb(160, 93, 6);
    width: 32%;
}
#img1{
   
    height: 25vw;
}
#img1 img{
    height:25vw;
    width: 31vw;
}
#r1 ul li{
    font-size: 2vw;
    color: white;
    margin-left: 2vw;
    margin-right: 3vw;
    padding: 1vw;
}
#r1 button{
    padding: 1vw;
    background-color: rgb(160, 93, 6);
    color: white;
    border: 2px solid white;
    margin-left: 6vw;
    margin-top: -2vw;
}
#r2{
    /* border: 2px solid blue; */
    height:65vw;
    width: 34%;
    margin-left: 32vw;
    margin-top: -65vw;
}
#r2 img{
    height: 65vw;
    width: 100%;
    
}
#r3
{  margin-top: -65.3vw;
    display: flex;
    float: right;
    border: 2px solid red;
    height: 65vw;
    background-color: rgb(57, 195, 241);
    width: 32%;

}
#i5{
    display: block;
    border: 2px solid green;
    height: 25vw;
    /* width:  180vw; */
}
#i5 img{
    width: 100%;
    height: 25vw;
   
}
#text h2{
  color: white;
  font-size: 2.5vw;
  font-weight: 300;
  margin-top: 32vw;
  /* margin-left: -30vw; */
}
#text h1{
    color: white;
    font-size: 5vw;
    font-weight: 300;
    margin-left: 0vw;
    margin-top: 4vw;
}
.contact {
   background:url(./img/foot.jpeg) ;
    height: 50vw;
    width: 100%;
    margin-top: 5vw;
}
#b1{
    height: 40vw;
    width: 70%;
    background-color: black;
    margin-left: 12vw;
    padding: 3vw 3vw 3vw 3vw;
    /* border: 2px solid red; */
}
#b1 h1{
    color: white;
    font-size: 5vw;
    margin-left: 23vw;
    margin-top: -1vw;
}
#b1 h3{
    color: rgb(197, 194, 194);
    font-size: 2vw;
    font-weight: 150;
    margin-left: 17vw;
    margin-top: -1vw;
}
#x1{
    /* border: 2px solid red; */
    height: 12vw;
    width: 11vw;
    margin-left: 25vw;
    margin-top: -20vw;
}
.contact h3{
    color: white;
    margin-left: 2vw;
}
.contact h4{
    color: rgb(173, 170, 170);
    margin-top: 2vw;
    font-size: 2vw;
    margin-left: 1vw;
}
#x1 img{
    height: 8vw;
    width: 100%;
}
#x2{
    /* border: 2px solid red; */
    height: 12vw;
    width: 11vw;
    margin-left: 45vw;
    margin-top: -12.5vw;
}
#x2 img{
    height: 8vw;
    width: 100%;
}
#x3{
   
    height: 12vw;
    width: 11vw;
    margin-left: 65vw;
    margin-top: -12.7vw;
}
#x3 img{
    height: 8vw;
    width: 100%;
}
.foot{
    background-color: black;
    height: 10vw;
    width: 100%;
}
#f1
{
    display: inline-block;
    margin-top: 2vw;
    margin-left: 35vw;
    padding: 1vw;
}
#tw
{
    display: inline-block;
    padding: 1vw;
}
#insta
{
    display: inline-block;
    padding: 1vw;
}
#in
{
    display: inline-block;
    padding: 1vw;
}
#f1 img{
    height: 4vw;
    width: 4vw;
    border-radius: 5px;
    display: inline-block;
    
}
#insta img{
    height: 4vw;
    width: 4vw;
    border-radius: 5px;
    display: inline-block;
}
#tw img{
    height: 4vw;
    width: 4vw;
    border-radius: 5px;
    display: inline-block;
}
#in img{
    height: 4vw;
    width: 4vw;
    border-radius: 5px;
    display: inline-block;
}
#f1,#insta,#tw,#in :hover{
  cursor: pointer;
  
}